$primaryColor: #EB6A59;
$primaryColorH: #EB6A59;
$headerHeight: 104px;
// $font1: "Be Vietnam Pro", sans-serif !important;



// $font2: "Be Vietnam Pro", sans-serif !important;


$semibold: 'be_vietnamsemibold';

